<div class="row"> 
    <h1>Hard and Soft Skills</h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="'PHP'"
    [titleColor]="'#141763'"
    [titleFontSize]="'3em'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#2840AC'"
    [innerStrokeColor]="'#5A69B0'"
    [animation]="true"
    [animationDuration]="900"

  ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="'HTML'"
    [titleColor]="'#141763'"
    [titleFontSize]="'3em'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#2840AC'"
    [innerStrokeColor]="'#5A69B0'"
    [animation]="true"
    [animationDuration]="900"

  ></circle-progress>
 </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
   <circle-progress
   [percent]="85"
   [radius]="100"
   [showUnits]="false"
   [showSubtitle]="false"
   [title]="'GitHub'"
   [titleColor]="'#141763'"
   [titleFontSize]="'3em'"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#2840AC'"
   [innerStrokeColor]="'#5A69B0'"
   [animation]="true"
   [animationDuration]="900"

 ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
   <circle-progress
   [percent]="85"
   [radius]="100"
   [showUnits]="false"
   [showSubtitle]="false"
   [title]="'POO'"
   [titleColor]="'#141763'"
   [titleFontSize]="'3em'"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#2840AC'"
   [innerStrokeColor]="'#5A69B0'"
   [animation]="true"
   [animationDuration]="900"

 ></circle-progress>
</div>


<div class="text-center col-sm-4 col-md-4 col-lg-4">
   <circle-progress
   [percent]="85"
   [radius]="100"
   [showUnits]="false"
   [showSubtitle]="false"
   [title]="'INGLES'"
   [titleColor]="'#141763'"
   [titleFontSize]="'3em'"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#2840AC'"
   [innerStrokeColor]="'#5A69B0'"
   [animation]="true"
   [animationDuration]="900"

 ></circle-progress>

</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
   <circle-progress
   [percent]="85"
   [radius]="100"
   [showUnits]="false"
   [showSubtitle]="false"
   [title]="'ITAL.'"
   [titleColor]="'#141763'"
   [titleFontSize]="'3em'"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#2840AC'"
   [innerStrokeColor]="'#5A69B0'"
   [animation]="true"
   [animationDuration]="900"

 ></circle-progress>
</div>
</div>



