<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
     <div class="col-sm-12 col-md-7 col-lg7 parte1">
        <h1>Formulario PHP</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus velit, praesentium modi voluptate quisquam facere tempore facilis non rerum eum sit pariatur earum repudiandae est ipsam eius error, cum soluta.</p>

     </div>
     <div class="col-sm-12 col-md-3 col-3 offset-md-1 offset-lg-1 parte2">
        <img src="" class="img-fluid img-proyecto">
      
    </div>
    
    </div>
</div>
