<div class="row">
    <div class = "col= xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil2.jpeg" class="img-fluid" id="fotoperfil">
    </div>
<div class = "col= xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Diodati María Rosana</p>
    <p id="prest">Full Stack Developer Jr.</p>
</div>
<div class = "col= xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, natus adipisci. Nostrum suscipit deleniti iste veritatis libero eos officiis, assumenda soluta! Deleniti ducimus quidem esse assumenda nisi, debitis totam velit! </p>
    </span> 
</div>
</div>
