<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
        <h1>Trabajo1</h1>-<h3>(Años)</h3>

    </li>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perferendis ipsam, magni dolorum quo, recusandae est rerum impedit sit rem ut odio ab, aut cum cumque dignissimos deserunt fugit sapiente!</p>
</ul>
<ul>
    <li>
        <h1>Trabajo1</h1>-<h3>(Años)</h3>

    </li>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perferendis ipsam, magni dolorum quo, recusandae est rerum impedit sit rem ut odio ab, aut cum cumque dignissimos deserunt fugit sapiente!</p>
</ul> 
<ul>
    <li>
        <h1>Trabajo1</h1>-<h3>(Años)</h3>

    </li>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perferendis ipsam, magni dolorum quo, recusandae est rerum impedit sit rem ut odio ab, aut cum cumque dignissimos deserunt fugit sapiente!</p>
</ul>

</div>
</div>
