<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
        <h1>Tecnicatura en ciberseguridad</h1>-<h3>(1 Año)</h3>

    </li>
    <p>UNIVERSIDAD NACIONAL SCALABRINI ORTIZ. Proyección a Licenciatura.(En curso).</p>
</ul>
<ul>
    <li>
        <h1>Full stack developer</h1>-<h3>(1 Año)</h3>

    </li>
    <p>ARGENTINA PROGRAMA. MINISTERIO DE DESARROLLO. Extensión Inglés para developers. (En curso) </p>
</ul> 
<ul>
    <li>
        <h1>Profesional gastronómico</h1>-<h3>(años)</h3>

    </li>
    <p>INSTITUTO ARGENTINO DE GASTRONOMÍA.</p>
</ul>
<ul>
    <li>
        <h1>Perito mercantil</h1>-<h3>(5 Años)</h3>
    </li>
    <P>COLEGIO SAGRADO CORAZÓN.</P>

</ul>

</div>
</div>